body{
	padding: 0px;
	margin: 0px;
	background-color: #eee;

}
div{
	width: 800px;
	height: 800px;
	background-color: #0099cc;
	margin: auto;
	padding-top: 0px;
	border-bottom: 2px;
	position: absolute;
	float: right;

}