body {
	background-color: #a5adb8;
	margin: 0;
}

.wrapper {
	width: 50%;
	height: 800px;
	background-color: white;
	margin:auto;
	padding:10px 0 0 0;
}

.fig {
	text-align: center;
}

.head {
	border-bottom: solid; 
	border-color: gray;
	margin: 0 20px 0 20px ;
}

.center {
	border-bottom: solid; 
	border-color: gray;
	margin: 0 20px 0 20px;
}

.lower {
	border-bottom: solid; 
	border-color: gray;
	padding-bottom: 20px;
	margin: 0 20px 0 20px;
}
.highlow {
	margin: 0 20px 0 20px;

}
.gm-text-align {
	text-align: center;
}

p {
	text-align: left;
	font: 12pt sans-serif;
	margin-left: 45px;
}
 
h1 {
	text-align: center;
}

ul { 
	margin-left: 45px;
}

li{
	font: 12pt sans-serif;
	line-height: 2.0;
}

a { 
	margin-left: 45px;
}

hr {
	margin: 0 45px 0 45px;
}