body {
  background-color: #eaeaea;
  margin: 0;
  padding: 0
}

.wrapper {
  width: 600px;
  height: 100%;
  background-color: white;
  margin: auto;
  padding: 10px 20px 0 0;
  box-shadow: 0 0 3px #3c3c3c;
}

.box { 
  padding: 10px 20px;
  padding-bottom: 6px;
  margin: 0 25px 0 25px;
}

.gm-border-bottom {
  border-bottom: solid;
  border-color: #7b7b7b;
  border-bottom-width: 1px;
  margin: 0 25px 0 25px;

}

.gm-text-align {
  text-align: center;
}

