body {
  background-color: #eaeaea;
  margin: 0;
  padding: 0
}

.wrapper {
  width: 50%;
  height: 100%;
  background-color: white;
  margin: auto;
  padding: 10px 0 0 0;
}

.box { 
  padding: 0 35px 0 35px;
  padding-bottom: 6px;
  margin: 0 25px 0 25px;
}

.gm-border-bottom {
  display: block;
  border-bottom: solid;
  border-bottom-width: thin;
  padding: 0 35px 0 35px;
  padding-bottom: 6px;
  margin: 0 25px 0 25px;

}

.gm-text-align {
  text-align: center;
}

